h1 {
    background-color: #0000aa;
    height: 35px;
    width: 84.5%;
    color: white;
    border-bottom: 15px solid #eeee00;
}

body {
    background-color: beige;
}

#canvas{
    position: relative;
    border: 1px solid grey;
    width: 580px;
    height: 580px;
    margin: 0 auto;
}

#g {
    position: absolute;
}

#logo {
    position: relative;
    left: 101.9%;
    width: 171.5px;
    height: 50px;
}

#man {
    position: relative;
    top: -400px;
    left: 1.5%;
    width: 187.5px;
    height: 250px;
}

#robot {
    position: relative;
    top: -430px;
    left: 188.5%;
    width: 246px;
    height: 200px;
}

#r {
    position: absolute;
    top: 105%;
    left: 1%;
}

#b {
    position: absolute;
    top: 105%;
    left: 58%;
}

#last {
    position: relative;
    top: 12%;
}

.inner {display: inline-block;}

/*
 * From stackoverflow.com/questions/18640503/how-to-position-the-button-exactly-in-css
 */

.b-colour {
    position: absolute;
    top: 10%;
    left: 92%;
}

.a-colour {
    position: absolute;
    top: 10%;
    left: 84.7%;
}

.board-colour {
    position: absolute;
    top: 10%;
    left: 78%;
}

.board-size {
    position: absolute;
    top: 10%;
    left: 0.65%;
}

.game-mode {
    position: absolute;
    top: 10%;
    left: 6.4%;
}

.replay {
    position: absolute;
    top: 10%;
    left: 12.65%;
}

/*
 * Below from www.w3schools.com/howto/howto_js_dropdown.asp
 */

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}